In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv(r'C:\Users\amnad\Documents\DATA_IA\PYTHON\NLP\NLP PROJET_FENTY\FENTYBEAUTY_PROFILTR1.csv')
df2 = df2.drop(columns = "Unnamed: 0")

In [3]:
df2.tail()

                                                 review  ratings
3648  I bought this foundation as soon as sephora op...       10
3649  Flawless on my skin! I am already in awe with ...       10
3650  This product is available is so many shades, a...       10
3651  I just bought so many products from this line ...       10
3652  Has a great blurring effect. It blends so nice...       10

In [4]:
df2 = df2.reset_index()

In [5]:
df2 = df2.rename({'index' : 'id'})

In [6]:
df2.head()

   index                                             review  ratings
0      0  This foundation is just perfect! I love the co...       10
1      1  I have been using Clinique for years, but they...       10
2      2  I bought my Fenty makeup about a month ago and...       10
3      3  I like my foundation so much Thanks Fenty krrr...       10
4      4  My purchase of the Fenty foundation and blotte...        4

____

In [7]:
import MySQLdb

In [8]:
fentybeauty = MySQLdb.connect(host = "localhost",    # your host, usually localhost
                            user = "root",
                            password = 'Armani313.',
                            use_unicode=True,
                            charset="utf8") #updating db if already exists

In [9]:
# you must create a Cursor object. It will let
# you execute all the queries you need
mycursor = fentybeauty.cursor()

In [10]:
mycursor.execute("DROP DATABASE IF EXISTS fentybeauty")
mycursor.execute("CREATE DATABASE fentybeauty")

1

In [11]:
mycursor.execute("USE fentybeauty")

0

In [12]:
mycursor.execute("CREATE TABLE profiltr (id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, review TEXT, ratings INT, PRIMARY KEY (id))")

0

In [13]:
mycursor.execute("SHOW TABLES;")

1

In [14]:
mycursor.execute("DESCRIBE profiltr")
mycursor.fetchall()

(('id', 'smallint(5) unsigned', 'NO', 'PRI', None, 'auto_increment'),
 ('review', 'text', 'YES', '', None, ''),
 ('ratings', 'int(11)', 'YES', '', None, ''))

In [15]:
df2 = df2.drop(columns = "index")

In [16]:
df2_ = df2.values.tolist()
df2_[1]

['I have been using Clinique for years, but they changed their formula recently, so I went on the hunt for a foundation for my extremely sensitive skin. I’ve definitely found it! I love all the shades offered, it blends great, and it has not caused any sort of breakout. (Like I said....extremely sensitive skin here!) I’ll definitely be buying more Fenty in the future!',
 10]

In [17]:
mycursor.executemany("""INSERT INTO profiltr(review, ratings) VALUES (%s, %s)""", df2_)
fentybeauty.commit()

In [18]:
mycursor.execute("SELECT * FROM profiltr LIMIT 10")

10

In [19]:
for tb in mycursor:
    print(tb)

(1, 'This foundation is just perfect! I love the coverage, the finish, the color, everything! I have tried others but I keep coming back to this one.', 10)
(2, 'I have been using Clinique for years, but they changed their formula recently, so I went on the hunt for a foundation for my extremely sensitive skin. I’ve definitely found it! I love all the shades offered, it blends great, and it has not caused any sort of breakout. (Like I said....extremely sensitive skin here!) I’ll definitely be buying more Fenty in the future!', 10)
(3, 'I bought my Fenty makeup about a month ago and I just love it', 10)
(4, 'I like my foundation so much Thanks Fenty krrrrrrrrr', 10)
(5, 'My purchase of the Fenty foundation and blotter did not arrive the first time. Customer service was exceptional to get it out to me a second time. Within one week of use, my skin broke out. Badly. It was somewhat oily after a couple hours. The blotter compact absorbed the shine but yielding my skin more of a pale white than my natural vibrant color. The blotter is a great idea if the makeup you use is going to give a shine or make your skin oily. Minus the break out after the first use, it’s ok for an event I guess. I wouldn’t use for daily wear. Not for myself. I went back to my Estée Lauder.', 4)
(6, 'I have tried so many foundations and this one is perfect for my skin but I do feel that the Fenty primer and foundation match better together better than trying to use any other primer with this foundation', 10)
(7, "I love this product it was my first time trying it and I'm glad I did. It melts onto your skin like butter and blends in so quick and easily. I'm not a person who knows how to apply makeup very well but this is so smooth it's easy.", 10)
(8, 'Used Mac for the past 15 years then I tried Fenty. My makeup stays on all day, no nasty creases at the end of the day omg amazing!!!!!', 10)
(9, 'Have been using this for about 8 months now and I am glad I switch cause i finally found a foundation that matches my skin perfectly instead of mixing 2 different shades to match!', 8)
(10, 'I’m very very fair, and bought one of the lightest shades. I don’t think this product was targeted for girls with lighter skin because it just looks so bad on me. It doesn’t blend, it’s so drying, it’s splotchy, so thick, AND DRIES SO FAST. You have to put the foundation on little spots and blend so fast or else you won’t be able to work with it at all.', 2)

In [ ]:
#SELECT * FROM profiltr limit 10 \G;

___________

Exercice 1 : Insérer en SQL directement (sans passer par python) un  faux commentaire dans votre table commentaire
Exercice 2 : Insérer dans votre table commentaire un faux commentaire via Python (sans utiliser pandas.to_sql). 
Exercice 3: Faire une fonction qui prend en argument une liste de commentaire et qui les insère tous dans la base.

In [22]:
mycursor.execute('SELECT COUNT(*) FROM profiltr')
mycursor.fetchall()

((3653,),)

In [24]:
mycursor.execute("""INSERT INTO profiltr(review, ratings) VALUES ('Loved it', 10)""")
fentybeauty.commit()

In [25]:
mycursor.execute('SELECT COUNT(*) FROM profiltr')
mycursor.fetchall()

((3654,),)

________

In [58]:
l = [['This foundation is just perfect! I love the coverage, the finish, the color, everything! I have tried others but I keep coming back to this one.',
  10],
 ['I have been using Clinique for years, but they changed their formula recently, so I went on the hunt for a foundation for my extremely sensitive skin. I’ve definitely found it! I love all the shades offered, it blends great, and it has not caused any sort of breakout. (Like I said....extremely sensitive skin here!) I’ll definitely be buying more Fenty in the future!',
  10],
 ['I bought my Fenty makeup about a month ago and I just love it', 10],
 ['I like my foundation so much Thanks Fenty krrrrrrrrr', 10]]

In [64]:
def listintodata(liste):
    for i in liste:
        mycursor.executemany("""INSERT INTO profiltr(review, ratings) VALUES (%s, %s)""", liste)
        fentybeauty.commit()
        print(i)

In [65]:
listintodata(l)

['This foundation is just perfect! I love the coverage, the finish, the color, everything! I have tried others but I keep coming back to this one.', 10]
['I have been using Clinique for years, but they changed their formula recently, so I went on the hunt for a foundation for my extremely sensitive skin. I’ve definitely found it! I love all the shades offered, it blends great, and it has not caused any sort of breakout. (Like I said....extremely sensitive skin here!) I’ll definitely be buying more Fenty in the future!', 10]
['I bought my Fenty makeup about a month ago and I just love it', 10]
['I like my foundation so much Thanks Fenty krrrrrrrrr', 10]

_____

“true positive” for correctly predicted postive values.
“false positive” for incorrectly predicted prositive values.
“true negative” for correctly predicted negative values.
“false negative” for incorrectly predicted negative values.

In [ ]:
Accuracy:items classified correctly\all items classified*

In [ ]:
Accuracy = (TP + FN) / Total Pred

In [64]:
def accuracy(true, pred):
    matching = [i for i, j in zip(true, pred) if i == j]
    return len(matching) / len(pred)

In [65]:
accuracy(y_true, y_pred)

0.6

In [41]:
from sklearn.metrics import accuracy_score, precision_score

In [40]:
accuracy_score(y_true, y_pred)

0.6

In [1]:
y_true = [1, 0, 0, 1, 0]
y_pred = [1, 0, 1, 0, 0]

**Coder une fonction qui calcule le nombre de True positif en fonction de y et y_pred**

In [6]:
def truepositive(y, y_pred):
    matching = [i for i, j in zip(y, y_pred) if i == j]
    TP = []
    for i in matching:
        if i == 1:
            TP.append(i)
    return len(TP)

In [5]:
truepositive(y_true, y_pred)

[1, 0, 0]

1

Precision :
It is the number of correct positive results divided by the number of positive results predicted by the classifier.

In [71]:
Precision : TP / (TP + FP)

In [84]:
def precision(true, pred):
    
    matching = [i for i, j in zip(true, pred) if i == j]
    TP = []

    for i in matching:
        if i == 1:
            TP.append(i)
    FP = TP[TP == 1]
    return len(TP) / (len(TP) + FP)

In [85]:
precision(y_true, y_pred)

0.5

In [49]:
precision_score(y_true, y_pred)

0.5

In [ ]:
def rec_detremaint(A, total = 0):
    ind = list(range(len(A)))
    if len(A) == 2 and len(A[0] == 2):
        return A[0][0]A[1][1]-A[0][1]A[1][0]
    for fc in ind:
        As = A.copy()
        As[1:]
        hight=len(As)
    for i in range(len(As)):
        As[i]=As[i][0:fc]+As[i][fc+1:]
        sign=(-1)*(fc%2)
        sub_det=rec_detremaint(As)
        total+=signA[0][fc]*sub_det
        return total